/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/(pages)/signup/Signup.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Signup_createAccountContainer__AN24_ {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.Signup_logo__IBc8s {
    margin-bottom: 20px;
    object-fit: contain;
}

.Signup_createAccountContainer__AN24_ h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.Signup_createAccountContainer__AN24_ form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Signup_createAccountContainer__AN24_ label {
    font-weight: bold;
    margin-top: 10px;
}

.Signup_createAccountContainer__AN24_ input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.Signup_createAccountContainer__AN24_ .Signup_passwordInfo__Jqo20 {
    font-size: 12px;
    color: #555;
}

.Signup_createAccountButton__aAXGl {
    width: 100%;
    padding: 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.Signup_createAccountButton__aAXGl:hover {
    background-color: #e7b33c;
}

.Signup_agreement__gK7xc {
    font-size: 12px;
    color: #555;
    margin-top: 20px;
}

.Signup_agreement__gK7xc a {
    color: #0066c0;
    text-decoration: none;
}

.Signup_agreement__gK7xc a:hover {
    text-decoration: underline;
}

.Signup_signin__xvKU_ {
    font-size: 14px;
    margin-top: 20px;
}

.Signup_signin__xvKU_ a {
    color: #0066c0;
    text-decoration: none;
}

.Signup_signin__xvKU_ a:hover {
    text-decoration: underline;
}
